@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --DarkGreen: hsl(154, 60%, 40%);
  --Blue: hsl(248, 32%, 49%);
  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);
}
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  background-image: url("../images/bg-intro-desktop.png");
  background-color: var(--Red);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  font-size: 16px;
  height: 100vh;
}
#claimedContainer{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
#claimed{
    position: relative;
    width: 50%;
    height: 50%;
    background-color: #fff;
    background-image: none;
    background-position: center center;
    background-size: cover;
    border-radius: 18px;   
    outline: 7px var(--Green) solid;
    color: var(--DarkBlue);
    background-image: url('../images/bg-intro-desktop.png');
    justify-content: center;
    text-align: center;
}
.container {
  display: flex;
  padding: 10px 30px;
  align-items: center;
}
.leftSide,
.rightSide {
  flex: 1 1 45%;
  margin: 20px;
}
.leftSide h2 {
  font-size: 2.5rem;
  font-weight: 800;
}
#FreeTrial {
  background-color: var(--Blue);
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px #333;
  border: none;
  border-radius: 12px;
  width: 100%;
  cursor: pointer;
  font-weight: 500;
}
#FreeTrial:hover{
    background-color: var(--DarkBlue);
}
#FreeTrial span {
  font-weight: 300;
  color: #ffe;
}
.MyForm {
  background-color: #fff;
  padding: 30px;
  border-radius: 6px;
  text-align: center;
}
.Error {
  color: var(--Red);
  display: none;
  font-size: 0.8rem;
  /* display: flex; */
  justify-content: flex-end;
}

input {
  width: 100%;
  border: 2px solid var(--GrayishBlue);
  border-radius: 6px;
  padding: 15px 20px;
  margin-bottom: 10px;
  background: no-repeat;
  background-position: right 10px center;
}
input:focus {
    outline: none;
  border-color: var(--Blue);
}
#claim {
  width: 100%;
  font-size: 1.5rem;
  color: #fff;
  background-color: var(--Green);
  padding: 15px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 4px 8px #333;
  margin-bottom: 10px;
}
#claim:hover{
    background-color: var(--DarkGreen);
}
.MyForm small {
  font-size: 0.7rem;
  color: var(--DarkBlue);
}
.MyForm small span {
  color: var(--Red);
}

@media (max-width: 900px) {
  body {
    background-image: url(../images/bg-intro-mobile.png);
    min-height: 150vh;
  }
  .container {
   
    flex-direction: column;
  }
  
  
}
